.product-tab ul.tab-list li, .product-detail-bar li, .sale {
    font-family: Helvetica Neue,Helvetica,Arial,\\6587\6CC9\9A5B\6B63\9ED1,WenQuanYi Zen Hei,Hiragino Sans GB,\\5137\9ED1 Pro,LiHei Pro,Heiti TC,\\5FAE\8EDF\6B63\9ED1\9AD4,Microsoft JhengHei UI,Microsoft JhengHei,sans-serif;
}
   

/*chỉnh lại padding cho tiêu đề danh mục sản phẩm*/
#mega-menu > .btn-mega {
    padding-left: 66px;
}
#mega-menu > .btn-mega > span{
    left: 22px;
}

.imagebox .owl-carousel .owl-item img {
    height: 209px;
}

/*chỉnh lại khoảng cách ở phần mô tả sản phẩm*/
.col-md-12 p {
    margin-bottom: 1rem;
}
.col-md-12 strong, b, p {
    font-weight: bold;
    font-family: Roboto,Helvetica,Arial,sans-serif;
}

/*chỉnh lại border cho input số lượng sản phẩm ở chi tiết sản phẩm*/
.quanlity input {
    border-radius: 30px;
}

/*chỉnh lại chữ menu không cách*/
#mainnav > ul.menu {
    word-spacing: unset;
}


/*chỉnh kích thước form login*/
#form-contact .form-box button {
    height: 40px;
    line-height: 40px;
    padding: 0 45px;
}