@model MyProjectMVC.Models.User
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}


<section class="flat-contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="form-contact center">
                    <div class="form-contact-content">
                        <form asp-action="Login" method="post" id="form-contact" accept-charset="utf-8">
                            <div class="form-box">
                                <label for="subject-contact">Tên tài khoản<span style="color: red">*</span></label>
                                <input type="text" asp-for="Username" placeholder="Username">
                            </div>
                            <div class="form-box">
                                <label for="subject-contact">Mật khẩu<span style="color: red">*</span></label>
                                <input type="text" asp-for="Password" placeholder="Password">
                            </div>

                            <div class="form-box">
                                <button type="submit" class="contact">Đăng nhập</button>
                            </div>
                        </form>
                    </div><!-- /.form-contact-content -->
                </div><!-- /.form-contact center -->
            </div><!-- /.col-lg-8 col-md-12 -->
            <div class="col-lg-2">
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-contact -->