td {
    vertical-align: inherit !important;
}

.list-img img {
    width: 30px;
    height: 40px;
    border-radius: inherit;
}

.table-desi a i {
    margin-right: 0px;
    padding: 4px 6px;
    border-radius: 4px;
}

/*Cho border sp ngắn lại*/
.row .col.s8 {
    box-sizing: border-box;
    padding-right: 5%;
}


/*Cho btn lưu nhỏ lại*/
.btn.btn-primary.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    font-family: sans-serif;
}

    .btn.btn-primary.btn-sm i.fa {
        font-size: 14px;
    }

/*upload file*/
/*Chinh sua hien thi anh*/
.show-image {
    width: 100%;
    height: 50px;
    /* background: green; */
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding-right: 13px; */
}

    .show-image > img {
        height: 100%;
        padding-right: 4px;
    }


/*Cho cách chỗ hàng mới*/
.row.test {
    margin-top: 15px;
}


/*// Xác nhận xóa/*/

