@model MyProjectMVC.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}


<div class="sb2-2">
    <div class="sb2-2-2">
        <ul>
            <li>
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
            </li>
            <li class="active-bre">
                <a href="#"> Edit Listing</a>
            </li>
        </ul>
    </div>
    <div class="sb2-2-add-blog sb2-2-1">
        <h2>Cập nhật sản phẩm</h2>
        <p></p>
        <p></p>
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <div class="box-inn-sp">
                    @*<div class="inn-title">
                            <h4>Listing Information</h4>
                            <p>Airtport Hotels The Right Way To Start A Short Break Holiday</p>
                        </div>*@
                    <div class="bor">
                        <form asp-action="Create" enctype="multipart/form-data">
                            @*Bên trái*@
                            <div class="col s8">
                                <div class="row">
                                    <div class="input-field col s12 tensp">
                                        <input id="product-name" type="text" class="validate" asp-for="Name">
                                        <label>Tên sản phẩm</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <div class="input-field col s5" style="padding: 0">
                                            @Html.DropDownList("SupplierId")
                                            <label style="left: 0">Thương hiệu</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <div class="input-field col s5" style="padding: 0">
                                            @Html.DropDownList("ProductCategoryId")
                                            <label style="left: 0">Danh mục sản phẩm</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <div class="input-field col s5" style="padding: 0">
                                            @Html.DropDownList("VendorId")
                                            <label style="left: 0">Nhà cung cấp</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <label style="transform: translateY(-140%);">Cấu hình</label><br />
                                        <textarea id="specifications" type="text" asp-for="Specifications"></textarea>
                                    </div>
                                </div>


                            </div>

                            <div class="col s4">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="originalprice" type="text" class="validate" asp-for="OriginalPrice" value="">
                                        <label for="list-name">Giá gốc</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="input-field col s12">
                                        <input id="saleprice" type="text" class="validate" asp-for="SalePrice" value="">
                                        <label for="list-name">Giá bán</label>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="input-field col s12">
                                        <input id="saleprice" type="number" class="validate" asp-for="Inventory">
                                        <label for="list-name">Số lượng</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        @Html.DropDownList("StatusId")
                                        <label>Trạng thái</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12">
                                        <label>Hình đại diện</label>
                                        <input id="image-file" type="file" name="files" />
                                        <div class="show-image file">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col s12">
                                        <label>Hình ảnh sản phẩm</label>
                                        <input id="image-files" type="file" name="files" multiple />
                                        <div class="show-image files">
                                        </div>

                                    </div>
                                </div>

                                <div class="row test">
                                    <div class="col s12">
                                        <input type="checkbox" class="filled-in" id="filled-in-box-3" asp-for="IsNew" />
                                        <label for="filled-in-box-3">Hàng mới</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col s12">
                                <div class="row">
                                    <br />
                                    <div class="input-field col s12">
                                        <label style="transform: translateY(-140%);">Mô tả</label> <br />
                                        <textarea id="decriptions" type="text" asp-for="Decriptions"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col s8">
                                <div class="row">
                                    <div class="input-field col s8">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            <i class="fa fa-save"> </i> Lưu[Cập nhật]
                                        </button>
                                        <a asp-action="Index">
                                            <button type="button" class="btn btn-primary btn-sm">
                                                <i class="fa fa-times-circle "></i> Thoát
                                            </button>
                                        </a>
                                        @*<input type="submit" class="waves-effect waves-light btn-large " value="Submit">*@
                                    </div>
                                </div>
                            </div>

                            <div style="clear: both"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

